title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[showcases]

[blogPosts]
pageNumber = 1
postsPerPage = 3
noPostsMessage = "Geen nieuwsberichten"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "nieuws/post"
==
<div id="site-intro" class="section section-white">
    <div class="container text-center">
        <img class="intro-logo" src="{{ 'assets/png/logo-diplohack.png'|theme }}">
        <h1>#Diplohack</h1>
        <h2>24-HOUR TRANSPARENCYCAMP HACKATHON</h2>
        <span class="chip chip-red light">29 - 30 April</span>
        <span class="chip chip-blue light">Justus Lipsius Building, Brussels</span>
    </div>
</div>

<div id="site-info">
    <div class="section section-dashed">
        <hr class="hr-white" />
        <div class="container text-center">
            <p class="home_first_text">
                Want to build an application that enables European citizens to truly understand what is going on in Europe?
            </p>
            <p class="dashed_text">Are you interested in European data and want to create new transparency applications on top of this data?
                Want to make decision-making on a European level searchable and understandable for everyone?
                <br/><br/>
                Then join us at Diplohack Brussels. We're inviting everyone to join us, whether you’re a diplomat,
                developer, designer, citizen, student, journalist or activist. We will connect different profiles together
                in teams to use European data for good.The idea is that you create a prototype or MVP with this data in
                just 24 hours. We will support you in any way possible, explain the data and help you get started.
            </p>
        </div>
    </div>
    <div class="section section-white">
        <div class="container text-center">
            <div class="row info-container">
                <div class="col-xs-12 col-md-6 alt-blue">
                    <span class="info-small"><i class="fa fa-calendar fa-5x info-icon "></i></span><br>
                    <span class="info-small">Friday - Saturday</span>
                    <span class="info-nr">29 -30 </span>
                    <span class="info-big">April</span>
                </div>
                <div class="col-xs-12 col-md-6">
                    <span class="info-small green-text"><i class="fa fa-map-marker fa-5x info-icon"></i></span><br>
                    <span class="info-bold green-text">Council of the European Union,<br> Justus Lipsius Building</span>
                    <span class="info-small green-text">Rue de la Loi / Wetstraat 175, <br>1048 Bruxelles / Brussels (BE)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dashed">
        <hr class="hr-white" />
        <div class="container">
            <h2 class="text-center">MORE INFORMATION</h2>
            <div class="row info-cards">
                <div class="col-md-4 col-xs-12">
                    <div class="card-transparent">
                        <h4>Who can participate?</h4>
                        <p class="dashed_text">
                            We will create multi-skilled teams based on the different profiles who are present.
                            We're inviting diplomats, journalists, developers, designers, students, citizens,
                            civil society actors, social entrepreneurs, academics and basically anyone who want to
                            use and re-use public open data to hack diplomatic issues. If you feel this topic appeals
                            to you then you are more than welcome.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="card-transparent">
                        <h4>The Diplohack</h4>
                        <p class="dashed_text">
                            A Diplohack is a hackathon focused on creating synergies between the skill sets of people
                            from a wide variety of backgrounds, such as diplomats, developers, designers, NGOs etc.
                            In this case we will use these collaborative and creative methods to build applications
                            that give citizens more insight and usable information about European decision-making.
                        </p>

                        <h4>The Datad(r)ive</h4>
                        <p class="dashed_text">
                            On the 15th of April we hosted a webinar together with the EU institutions to talk
                            about the available data and the technical details. <br><br>
                            There is a video and a summary with all necessary links on <a href="http://testdiplohack.summerofcode.be/newspost/diplohack-datadrive-webinar-summary">our blog</a>.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="card-transparent">
                        <h4>The Data?</h4>
                        <p class="dashed_text">
                            The Council of the European Union and the EU institutions already have an extensive
                            catalogue of open datasets, which you can use to build your application.
                            These cover many different aspects, including Politics, Law, Transparency and Finance.
                            On the EU Open Data Portal you can see which datasets are already available.
                            <br/><br/>
                            On the <a href="https://open-data.europa.eu/">EU Open Data Portal</a> you can see the datasets published by the European Union institutions.
                            Similarly, the <a href="http://www.europeandataportal.eu/">European Data Portal</a> provides data from all member states as well.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 dashed_text">
                    <h4>Partners</h4>
                </div>
            </div>
            <div class="row dashed_text">
                <div class="col-md-3 col-sm-6"><img src="{{ 'assets/png/eunl.png'|theme }}" style="height:100%; width:100%; margin-top:20%;" alt="EUNL"></div>
                <div class="col-md-3 col-sm-6"><img src="{{ 'assets/png/logo-osoc.png'|theme }}" style="height:75%; width:75%; margin:0 12.5%;" alt="Open Knowledge BE"></div>
                <div class="col-md-3 col-sm-6"><img src="{{ 'assets/png/logo-transparencycamp-europe.png'|theme }}" style="height:100%; width:100%; margin-top:15%;" alt="Transparency Camp Europe"></div>
                <div class="col-md-3 col-sm-6"><img src="{{ 'assets/pictures/logo-diplohack-global.jpg'|theme }}" style="height:50%; width:50%; margin:10% 25% 0 25%;" alt="Diplohack Global"></div>
            </div>
        </div>
    </div>
</div>


<div id="site-media" class="section section-white">
    <div class="container" style="padding:10px 0;">
        <ul class="pgwSlider">
            <li>
                <img src="{{ 'assets/pictures/building_outside.jpg'|theme }}">
            </li>
            <li>
                <img src="{{ 'assets/pictures/speaker.jpg'|theme }}">
            </li>
            <li>
                <img src="{{ 'assets/pictures/blue_carpet.jpg'|theme }}">
            </li>
            <li>
                <img src="{{ 'assets/pictures/zoom_carpet.jpg'|theme }}">
            </li>
        </ul>
    </div>
</div>

<div id="site-register" class="section section-dashed">
    <hr class="hr-white" />
    <div class="container text-center">
        <div class="row dashed_text">
            <div class="col-md-4 hidden-xs">
            </div>
            <div class="col-md-4 col-xs-12">
                <h2>REGISTER</h2>
                <br><br>
                <a href="https://diplohackbrussels.eventbrite.nl/" target="_blank"><img src="{{ 'assets/png/eventbrite.png'|theme }}"></a>
                <br><br><br>
                <p>
                    Click the Eventbrite button to go to the registration page!
                </p>
            </div>
            <div class="col-md-4 hidden-xs">
            </div>
        </div>
    </div>
</div>

<div class="section section-white" id="site-timeline">
    <div class="container">
        <h2 class="text-center">BLOGPOSTS</h2>
        <div class="row info-cards">
            {% for id, post in posts %}
            <div class="col-sm-4 col-xs-12">
                <div class="card-white card-image">
                    <div class="news-post-image">
                        {% if post.featured_images.count %}
                        <a class="overlay" href="{{ 'blog'|page({ slug: post.slug }) }}" style="background-image: url('{{ post.featured_images[0].path }}')"></a>
                        {% else %}
                        <a class="overlay" href="{{ 'blog'|page({ slug: post.slug }) }}" style="background-image: url('{{ 'assets/png/diplo_blog.png'|theme }}')"></a>
                        {% endif %}
                    </div>
                    <h4><a href="{{ 'blog'|page({ slug: post.slug }) }}">{{ post.title|raw }}</a></h4>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="view-more">
            <span class="light pull-right chip"><a href="{{ 'nieuws'|page }}">Show All &gt;</a></span>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center text-green">TIMELINE</h2>
        <!--<h4 class="text-center">Go from Brussels to Washington</h4>-->
        <div class="row">
            <section id="cd-timeline" class="cd-container bg-white">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-green">
                        <img src="{{ 'assets/svg/cd-icon-location.svg'|theme }}" alt="Diplohack Brussels">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2 class="text-green">EU Datad(r)ive Webinar</h2>
                        <p>
                            Join us during our online datadive webinar and get to a crash course of the most interesting transparency datasets in all of the EU institutions. Several data experts will explain which datasets are available and how they can be used. This webinar is open to everyone, even data re-users who are not attending one of the Diplohack events.
                        </p>
                        <a href="http://datadrive.eventbrite.nl" target="blank" class="cd-read-more">Sign up</a>

                        <span class="cd-date">15 April </span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-blue">
                        <img src="{{ 'assets/svg/cd-icon-location.svg'|theme }}" alt="Diplohack Brussels">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2 class="text-green">Diplohack Brussels</h2>
                        <p>
                            Join us at Diplohack Brussels and you might be part of the team that wins a ticket for two people to go to the next round and pitch your idea at the TransparencyCamp Europe unconference in Amsterdam. Other teams from Brussels can still submit their application in the <a href="https://transparencycamp.eu/app-competition/" target="_blank">online competition</a>.
                        </p>
                        <span class="cd-date">29-30 April</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-green">
                        <img src="{{ 'assets/svg/cd-icon-location.svg'|theme }}" alt="Diplohack Brussels">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2 class="text-green">TransparencyCamp Europe</h2>
                        <p>
                            All the winners of the local Diplohacks and the online competition get to present their application and pitch to an international jury of experts during the unconference. The winning team will receive a two-night stay in and flights to Washington, DC and special tickets to TransparencyCamp USA in September.
                        </p>
                        <a href="https://transparencycamp.eu/" target="blank" class="cd-read-more">Read more</a>
                        <span class="cd-date">1 June</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->


            </section> <!-- cd-timeline -->
        </div>
    </div>

</div>