@import "../vendor/bootstrap/dist/css/bootstrap.css";
@import "../vendor/fontawesome/css/font-awesome.min.css";
@import "../vendor/pgwslider/pgwslider.min.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900);
/**
 * Global Variables and CSS
 */
$font: Roboto, sans-serif;
$font-light: Roboto, sans-serif;

$color-white: #FFF;
$color-light: #F0F1F1;
$color-light-dark: darken($color-light, 5%);
$color-medium: #CACBCD;
$color-dark: #231F20;
$color-blue: #9ac4f8;
$color-dark-blue: #0b4ea2;
$color-green: #09d35f;


$font-color-white: #FFF;
$font-color-med: #C9CBCD;
$font-color-medium: darken($font-color-med, 15%);
$font-color-dark: #666666;
$font-color-alt: $color-blue;
$font-color-alt-dark: $color-dark-blue;
$font-color-alt-green: #09d35f;

html, body, nav {
    font: 1em $font;
    line-height: 1.4em;
    color: $color-dark;
    background-color: $color-white;
    -webkit-font-smoothing: antialiased;
}

.container, .nav-container{
    width: 1040px;
    clear: both;
    padding-top: 40px;
    padding-bottom: 10px; 
    
    @media screen and (max-width: 1080px){
        width: 100%;
    }  
}

.link-container {
    cursor: pointer;
    cursor: hand;
}

a, a:active, a:focus {
    color: $font-color-medium;
    text-decoration: none;
    
    &:hover {
        color: $font-color-alt;
        text-decoration: none;
    }
}

p {
    font-family: $font-light;
    font-weight:400;
}

h1 {
    font-size: 3.7em;  
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    line-height: 1.4em;
}

h4 {
    color: $font-color-alt;
    text-transform: uppercase;
    font-weight: bold;
    
    &.no-uppercase {
        text-transform: none;
        color:$color-dark-blue;
    }
}

.section {
    padding-bottom: 2em;
    
    &.section-white {
        background-color: $color-white;
        color: $font-color-dark;

        h2 {
            color:$color-green;
        }
    }
    
    &.section-blue {
        background-color: $color-dark-blue;
        color: $font-color-white;
    }

    &.section-dashed {
        background: repeating-linear-gradient(45deg,#9ac4f8,#9ac4f8 7px,transparent 7px,transparent 14px);
        color: $font-color-white;

        h4 {
            background-color: $color-white;
            color: $color-green;
            padding:40px 10px 30px 10px;
            margin-bottom:0;
            text-align: center;
        }

        .home_first_text {
            background-color: $color-white;
            color: $color-green;
            font-weight:300;
            font-size:20px;
            padding:40px 10px 30px 10px;
            margin-bottom:0;
            text-align: center;
        }

        h4.dashed_h4 {
            text-transform: none;
            background-color: $color-white;
            color: $color-dark;
            padding:40px 10px 30px 10px;
            margin-bottom:0;
            font-weight:300;
        }

        .dashed_text {
            margin-top:0;
            margin-bottom:0;
            background-color: $color-white;
            color: $color-dark;
            padding:0 20px 30px 20px;
        }

        h2 {
            padding:20px;
            background-color: $color-white;
            color:$color-green;
        }

        .view-more {
            .pull-right {
                padding:10px;
                background-color: $color-white;

                a {
                    color:$color-dark-blue;
                }
            }
        }
    }
    
    &.section-light {
        background-color: $color-light;

        h2 {
            color:$color-green;
        }

        .coc--top {
            padding:40px;
            text-transform: none;
            background-color: $color-white;
            color: $color-dark;
            margin-bottom:0;
            font-weight:500;
        }

        .coc--h4 {
            color:$color-green;
        }

        .dashed_text {
            margin-top:0;
            margin-bottom:0;
            background-color: $color-white;
            color: $color-dark;
            padding:40px;
        }

        h4.dashed_h4 {
            text-transform: none;
            background-color: $color-white;
            color: $color-dark;
            padding:40px 10px 30px 10px;
            margin-bottom:0;
            font-weight:300;
        }
    }
    
    &.section-dark {
        background-color: $color-dark;   
    }
}

.alt-blue {
     color: $font-color-alt-dark;
}

.info-cards {
    margin-top:20px;
    margin-bottom:20px;

    .overlay {
        display: block;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 350px;
    }
}

.card-transparent, .card-white, .card-grey {
    width: 100%;

    &:first-of-type {
        margin-top: 8px;
    } 
    margin-bottom: 8px; 
    
    a {
        color: $color-dark-blue;
    }
}

.card-white {
    background-color: $color-white;
    border-right: 2px solid $color-light-dark;
    border-bottom: 2px solid $color-light-dark;  
}

.card-grey {
    padding: 1.5em 2.5em;
    background-color: $color-light;
    
    p:last-child {
        margin-bottom: 0;
    }
}

.card-image {
    padding: 0 0 1em 0;

    img {
        width: 100%;
        height: 250px;
    }
    
    // Fade out image when hovering over a showcase item
    .card-flip {
        position: relative;
        color:$font-color-alt-green;
        
        .card-frontside, .card-backside {
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            transition: all ease 0.5s;
        }
        
        .card-backside {
            position: absolute;
            top: 0;
            padding: 1em;
            z-index: -1;
            
            .description {
                margin-bottom: 1em;
                font-size: 18px;
            }
            
            &>p>i {
                text-align:center;
                width: 20px;
            }
            
            &>p>a>i {
                margin-top: 15px;
                margin-right: 15px;
            }
        }
        
        &:hover {
            .card-frontside {
                opacity: 0.03;
            }
            
            .card-backside {
                z-index: 1;
            }
        }
    }

    h4, h5 {
        text-transform: uppercase;
        font-size: 18px;
        padding: 0.5em 1em 0 1em !important;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color:$color-dark-blue !important;
        text-align:center;
        text-align:center;

    }

    h4 {
        font-weight:bold !important;
    }
    
    h5 {
        padding: 0 1em 0 1em;
        font-family: $font-light;
        font-weight:300;
        color: $font-color-medium;
        margin-top: 0;
    }
}

.view-more {
    padding-top: 0.5em;
    padding-bottom: 2em;
    
    a {
        color: $font-color-dark;
        
        &:hover {
            color: $font-color-alt;
        }
    }
}

#datatank-categories {
    .dataset-category-filter {
        display: block;
        cursor: hand;
        cursor: pointer;   
        margin-bottom: 5px;
        line-height: 1.2em;
    }
}

.card-data-rows {
    .card-white {
        height: 118px;
        position: relative;
        cursor: hand;
        cursor: pointer;
    }
    
    .card-featured {
        height: 250px;
    }
    
    .data-type, .data-name {
        color: $font-color-alt;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .card-white:hover .data-type {
        white-space: normal;
        word-wrap: break-word;
    }
    
    .data-type {
        top: 0.5em;
        left: 1em;
        right: 1em;
        
        .data-subtype {
            display: block;
            font-family: $font-light;
            font-weight:300;
            color: $font-color-dark;
            font-weight: normal;
            text-transform: none;
        }
    }
     
    .data-name {
        bottom: 0.5em;
        right: 1em;
    }
    
    .row {
        margin-bottom: 0;
    }
    
    .library-cards>.row>div {
        margin-bottom: 12px;
    }
}

.card-data-categories {
    top: 0.5em;
}

.light {
    font-family: $font-light;
    font-weight:300;
}

.bold {
    font-family: $font;
}

/**
 * Navigation
 */

.nav-container {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-bottom: 1px solid $color-light-dark !important;
    
    .logo-top-sm {
        margin-left: 3px;
    }
    
    .nav-links {
        margin-top: 0.9em;
        height: 100%;
        
        @media(max-width: 767px) {
            margin-top: 0;
        }
        
        a {
            padding: 0.4em 0.6em;
            font-size: 1em;
            text-transform: uppercase;
            margin-left: 0.6em;
            
            &.active {
                color: $font-color-alt-green;
            }
            
            &.nav-button {
                color: $font-color-white;
                background-color: $font-color-alt;
            }
        }
    }
    
    #nav-toggle {
        margin-right: 1em;
        color: $color-medium;
        
        &.nav-toggle-expanded {
            color: $color-blue;      
        }
    }
    
    .nav-mobile-links {
        display: none;
        text-align: center;
        clear: both;
        
        a {
            display: block;
            padding: 0.4em 0.8em;
            font-size: 1em;
            text-transform: uppercase;
            margin-left: 0.8em;
            margin-right: 0.8em;
            
            &.active {
                color: $font-color-alt;
            }
            
            &.nav-button {
                color: $font-color-white;
                background-color: $font-color-alt;
            }
        }
    }
}

/**
 * Footer
 */
 
footer {

    .dashed_text {

        padding-bottom:0 !important;

        a {
            img.img-footer {
                max-width:100%;
                width:100%;
            }
        }
    }


    .icon-padding {
        padding:0 5px;
    }

    color: $color-white;
    
    a {
        color: $color-dark-blue;
        
        &:hover {
            color: $font-color-medium;
        }
    }
}

/**
 * Section overrides
 */
 
// Header sections  
 
#site-intro, #page-intro, #hackathon-section {
    margin-top: 74px;
    
    h1 {
        margin-bottom: 10px;
        
        a {
            color: $font-color-dark;
            
            &:hover {
                color: $font-color-alt;
            }
        }
    }
    
    h2 {
        margin-top: -5px;
        margin-bottom: 25px;
        font-family: $font-light;
        font-weight:300;
        font-size: 2.4em;
    }
    
    h3 {
        margin-bottom: 25px;
        font-family: $font-light;
        font-weight:300;
        font-size: 1em;
        text-transform: uppercase;
    }
    
    .intro-logo {
        width: 90%;
        max-width: 300px;
    }
    
    @media(max-width: 767px) {
        margin-top: 0;
     
        h1 {
            font-size: 3em;
        }
    }
    
    @media(max-width: 480px) { 
        h1 {
            font-size: 2em;
        }
        
        h2 {
            font-size: 1.5em;
        }
    }
}

#hackathon-section {
     margin-top: 0;    
}

#page-intro {
    &.bg-container {

        h1 {
            margin-top: 25px;
            
            @media screen and (max-width: 767px) {
                margin-top: 36px;
            }
            
            @media screen and (max-width: 480px) {
                margin-top: 26px;
            }
        }
        
        .container {          
            @media screen and (max-width: 480px) {
                height: 150px;
            }
        }  
    }
   
    .container {    
        height: 225px;
            
        .row {
            height: 90%; 
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            margin-left: 0;
        
            &:nth-of-type(2) {
                height: 30px;
            }
        }
        
        @media screen and (max-width: 767px) {
            height: 250px;
        }
    }
}

#site-info {
    .info-container {
        margin-top: 20px;
    }
    
    @media screen and (max-width: 767px) {
        .info-container > div {
            margin-bottom: 1em; 
            
            &:last-of-type {
                margin-bottom: 0em;
            }
        }
        
        h3 {
            font-size: 1.5em;
        }
    }
}
 
.info-small {
    font-family: $color-dark-blue;
    display: block;
}

.info-big {
    font-size:24px;
}
 
.info-bold {
    font-family: $font;
    display: block;
}

.green-text {
    color:$color-green;
}

.info-nr {
    display: block;
    font-size: 3em;
    line-height: 1em;
}

#site-media {
    padding-bottom: 0;
    
    .container {
        padding-top: 0;
        padding-bottom: 0;
        
        @media(max-width: 767px) {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    

}

#site-register {
    color: $font-color-medium;
    
    h2 {
        color:$color-green;
    }
}

.side-img {
    width: 100%;
}

.mail-icon {
    margin-top: -4px;
}

/**
 * About Page
 */
 
.about-container {
    .row {
        margin-bottom: 15px;
    }
}

/**
 * News page
 */
 
#news-tabs {
    background-color: $color-blue;
    
    .container {
        padding: 0;
        
        .news-tab {
            text-transform: uppercase;
            padding: 1em 1.5em;
            float: left;
            
            img {
                height: 50px;
                width: 50px;
            }
            
            a {
                color: $color-dark-blue;
                
                &:hover {
                    color: $color-dark-blue;
                }
            }
            
            &.active {
                background-color: $color-white;
                color: $color-dark-blue;
                
                a {
                    color: $font-color-dark;
                }
            }
        }   
    }
}
 
#news-content {
    .container {
        padding-left: 0;
        padding-right: 0;
        
        .cat-header {
            margin-top: -20px;
        }
        
        @media screen and(max-width: 1080px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .news-post {
            display: table;
            width: 100%;
            background-color: $color-white;
            border-right: 2px solid $color-light-dark;
            border-bottom: 2px solid $color-light-dark; 
            margin-bottom: 2em; 
            
            .news-post-share {
                display: block;
                margin-top: 1em;
                margin-left: 2em;
                cursor: pointer;
                cursor: hand;
                
                &:first-of-type {
                    margin-top: 2em;
                }
                
                &:last-of-type {
                    margin-bottom: 2em;
                }
                
                &:hover {
                    color: $font-color-dark;
                }
            }
            
            .news-post-image {
                display: table-cell;
                vertical-align: top;
                width: 30%;
                height: 250px;
                position: relative;

                .featured-img {
                    width: 100%;
                }
                
                .overlay {
                    position: absolute;
                    z-index: 10;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center center;
                    top: 0;
                    width: 100%;
                    height: 250px;
                }
            }
            
            .news-post-content-container {
                display: table-cell;
                vertical-align: top;
                width: 70%;
                position: relative;

                .news-post-content {
                    padding: 1em 2em;
                    
                    .news-post-excerpt {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                    
                    p {
                        display: block;
                        
                        &.bottom-spacer {
                            margin-bottom: 4em;
                        }
                    }
                    
                    h1 {
                        font-size: 18px;
                        padding: 0.5em 0;
                        margin-top: 15px;
                        margin-bottom: 0;
                        color: $font-color-alt;
                    }
                    
                    h2, h3 {
                        font-size: 18px;
                        padding: 0.5em 0;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }
                    
                    h3 {
                        font-size: 1em;
                    }
                    
                    a {
                        color: $color-dark-blue;
                    }
                   
                    a.chip, a.chip:hover {
                        color: $color-blue;
                    }
                    
                    ul, li {
                        font-family: $font-light;
                        font-weight:300;
                    }
                    
                    .news-post-date {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 2em;
                        right: 2em;
                        margin-top: 2em;
                        color: $font-color-medium;

                        .date {
                            display: block;
                            margin-top: 0.4em;
                            margin-bottom: 1em;
                        }
                    }
                    
                    img {
                        max-width: 100%;
                    }
                }
            }
            
            &:after {
                clear: both;
            }
            
            // Mobile version of news posts overview
            @media screen and (max-width: 767px) {            
                .news-post-image {
                    width: 100%;   
                    
                    .overlay {
                        top: auto;
                    }
                }
                
                .news-post-content-container {
                    display: table-row;
                    width: 100%;   
                    
                    .news-post-content > .news-post-date {
                        position: relative;
                        left: auto;
                        right: auto;
                    }
                }
            }
        }
    }
}

/**
 * Twitter wall 
 */
 
#twitter-wall {
    @media screen and (max-width:1080px) {
        margin-left: 12px;
        margin-right: 12px;
    }
    
    &>ul {
        list-style: none;
        padding: 0;
        
        li {
            display: block;
            margin-bottom: 15px;
            
            &>div {
                overflow: hidden;
                
                .twitter-left, .twitter-center, .twitter-right {
                    background-color: $color-white;
                    padding: 1em 2em;
                    padding-bottom: 1000px;
                    margin-bottom: -1000px;
                    height: 100%;
                    line-height: 1.4em;
                    
                    @media screen and (max-width: 767px) {
                        padding-left: 1em;
                        padding-right: 1em;    
                    }
                    
                    .bottom-spacer {
                        display: block;
                        margin-bottom: 1em;
                    }
                }
                
                .twitter-left {
                    background-color: $color-light-dark;
                    padding-left: 1.5em;
                    padding-right: 1em;
                    
                    a {
                        color: $font-color-dark;
                        
                        &:hover {
                            color: $font-color-alt;
                        }
                    }
                }
                
                .twitter-center {
                    font-family: $font-light;
                    font-weight:300;
                    
                    a {
                        color: $font-color-alt;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    
                    img {
                        margin-top: 1em;
                        max-width: 100%;
                    }
                    
                    @media screen and (max-width: 991px) {
                        border-right: 10px solid $font-color-alt;
                    }
                }
                
                .twitter-right {
                    font-family: $font-light;
                    font-weight:300;
                    border-right: 10px solid $font-color-alt;
                }        
            }
        }
    }
} 

/**
 * Bootstrap pagination overrides
 */
.pagination-container {
    text-align: center;
    
    .pagination {
        border-radius: 0!important;
        
        li {
            a {
                border-radius: 0;
                color: $font-color-alt;
            }
            
            &.active {
                a {
                    color: $color-white;
                    background-color: $color-blue;
                    border-color: $color-blue;
                }
            }
        }
    }
}


#showcase-content {
    .container {
        margin-top: 20px;
        
        @media screen and (min-width: 768px) {
            &>.row>div {
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }

        .row {
            padding:10px;
            .session {
                margin:10px 0;

                h3 {
                    margin-top:0;
                }

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/**
 * Components
 */

.chip {
    color: $font-color-white;
    padding: 1em 1.5em;
    margin: 0.2em;
    display: inline-block;
    font-weight:500;

    &.chip-red {
        background-color: $font-color-alt-green;
    }
    
    &.chip-blue {
        background-color: $font-color-alt;
        border:1px solid $color-blue;

    }

    &.chip-white {
        background-color: $font-color-white;
        color:$color-dark-blue;
        border:1px solid $color-blue;

        &:hover {
          background-color: darken($font-color-alt, 6%);
        }
    }
    
    &.chip-light-blue {
        background-color: lighten($font-color-alt, 3%);

        &:hover {
            background-color: darken($font-color-alt, 6%);
        }
    }
    
    &.chip-grey {
        background-color: darken($color-medium, 6%);
    }
    
    &.chip-small {
        padding: 0.2em 0.5em;
        margin-right: 0.2em;
        font-size: 0.9em;
        background-color:$color-white;
        border:1px solid $color-blue;
    }
}

a.chip, a.chip:hover {
    color: $font-color-white;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    
    &:after { 
        background: url('../svg/spacers/lip-dark.svg') no-repeat top center;
        content: "";
        display: block;
        height: 25px; /* height of the ornament */
        position: relative;
        top: -1px;
    }
        
    &.hr-white:after {
        background: url('../svg/spacers/lip-light.svg') no-repeat top center;
    }
    
    &.hr-blue:after {
        background: url('../svg/spacers/lip-blue.svg') no-repeat top center;
    }
    
    &.hr-light:after {
        background: url('../svg/spacers/lip-med.svg') no-repeat top center;
    }
    
    &.hr-dark:after {
        background: url('../svg/spacers/lip-dark.svg') no-repeat top center;
    }
}

/**
 * Timetable
 */

#site-programme {
    @media screen and (min-width: 768px) {
        .row {
            display:  -webkit-box;
            display: -webkit-flex;
            display:  -ms-flexbox;
            display:         flex;
        }
    }
    
    .timetable {
        margin: 0;
        
        span {
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
        }
        
        .row {
            display:  -webkit-box;
            display: -webkit-flex;
            display:  -ms-flexbox;
            display:         flex;
        }
        
        .col-xs-3 {
            border-right: 1px solid $color-medium;
            border-bottom: 1px solid $color-medium;
        }
        
        .col-xs-9 {
            border-bottom: 1px solid $color-medium;
        }
        
        @media screen and (min-width: 768px) {
            margin: 1em;
            
            .row:last-of-type {
                .col-xs-9, .col-xs-3 {
                    border-bottom: none;
                }
            }
        }
    } 
}

/**
 * Form
 */
 
.subscribe-form {
    margin-top: 10px;
    width: 100%;
    
    input {
        width: 70%;
        padding:1em 1.5em;
        margin: auto 0;
        border: none;
        outline: none;
        font-family: $font-light;
        font-weight: 800;
        color: $font-color-white;
        background-color: lighten($color-blue, 2%);
        
        &:focus {
            outline: none;
        }
    }
    
    ::-webkit-input-placeholder {
        color: $font-color-white;
    }
    
    input[type="submit"] {
        width: 30%;
        background-color: $color-white;
        color: $color-blue;
        font-family: $font;
        font-weight: 400;
    }
} 

/**
 * Bootstrap overrides
 */


/**
 * pgwSlider override
 */
 
.pgwSlider {
    .ps-current {
        .ps-prev, .ps-next {
            padding: 20px;
            border: none;
            background: none;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.7;
        
            &:hover {
                opacity: 1;
            }
        }
        
        .ps-prev {
            left: 10px;
            background-image: url('../svg/arrow_links.svg');
        }
        
        .ps-next {
            right: 10px;
            background-image: url('../svg/arrow_rechts.svg');
        }
        
        .ps-prevIcon, .ps-nextIcon {
            border: none;
            border-radius: 0;
        }
    }
    
    &.narrow {
        .ps-current > .ps-next, .ps-current > .ps-prev  {
            padding: 15px;
        }
    }
}


/*
* Timeline
*/


#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img.cd-green {
    background: $color-green;
}
.cd-timeline-img.cd-yellow {
    background: $color-green;
}
.cd-timeline-img.cd-blue {
    background: $color-dark-blue;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}
@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: $color-light;
    padding: 1em;
    border-radius: 0.25em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    margin-top: -12px;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 1.2em;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
    font-size: 1.2em;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: $color-green;
    color: white;

    &:hover {
        background: darken($color-green, 3%);
    }
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $color-light;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: $color-light;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $color-light;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}
@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
